.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logoo {
  width: 45%;
}

.search-box input {
  border-radius: 15px;
  border: 5px solid rgb(70, 64, 64);

}

.navbar ul {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.navbar ul li {
  font-size: 27px;
  border: 10px 12px;
  margin: 45px;
  gap: 20px;
}